<div class="pokemon-card__right" *ngIf="pokemon">
  <!-- Description -->
  <section class="pokemon-card__section">
    <h3 class="pokemon-card__section-title">Description</h3>
    <p class="pokemon-card__description">
      {{ description }}
    </p>
  </section>

  <!-- Stats -->
<section class="pokemon-card__section">
  <h3 class="pokemon-card__section-title">Stats</h3>

  <div class="pokemon-card__stats-grid">

    <!-- LEFT COLUMN -->
    <div class="pokemon-card__stats-col">
      <div class="stat-row" *ngFor="let stat of this.statsLeft">
        <span class="stat-label">{{ stat.label }}:</span>
        <span class="stat-value">{{ getStat(stat.key) }}</span>
      </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="pokemon-card__stats-col">
      <div class="stat-row" *ngFor="let stat of this.statsRight">
        <span class="stat-label">{{ stat.label }}:</span>
        <span class="stat-value">{{ getStat(stat.key) }}</span>
      </div>
    </div>

    <!-- TOTAL -->
    <div class="pokemon-card__stats-col">
      <div class="stat-row">
        <span class="stat-label">Total:</span>
        <span class="stat-value">{{ totalStats }}</span>
      </div>
    </div>
  </div>
</section>

</div>
