<!-- <app-search-bar
  (openFilters)="onToggleFiltersForm()"
  (search)="onFoundPokemon($event)"
  (reset)="onReset()"
/>

<ng-container>
  <app-pokemon-list [pokemons]="displayedPokemons()"></app-pokemon-list>
</ng-container>

<app-filter-panel
  *ngIf="showFilter()"
  (cancel)="onFiltersCancel()"
  (search)="onFilterSubmit($event)"
/>

@if(this.pokemonService.isLoadingPage()){
<app-loading-poke-ball />
} -->
<app-search-bar (search)="onSearchPokemonByNameOrId($event)" />

<ng-container>
  <app-pokemon-list
    [pokemons]="displayedPokemons()"
    (loadNextPage)="onLoad12Pokemons()"
    [displayLoadPokemonsBtn]="displayedLoadPokemonsBtn()"
  ></app-pokemon-list>
</ng-container>

<app-filter-panel *ngIf="showFilter()" />

@if(isLoading){
<app-loading-poke-ball />
}
