<!-- טוען פוקימון -->
<app-loading-poke-ball *ngIf="isLoading()"></app-loading-poke-ball>

<button type="button" routerLink="/">Home Page</button>

<!-- כרטיס מידע -->
<div *ngIf="!isLoading() && pokemon" class="pokemon-card">
  <!-- Header row -->
  <div class="pokemon-card__header">
    <span class="pokemon-card__id">
      {{ pokemon.id | pokemonId  }}
    </span>

    <button
      class="pokemon-card__favorite-btn"
      type="button"
      aria-label="Add to favorites"
    >
      ♡
    </button>
  </div>

  <!-- Body: two columns -->
  <div class="pokemon-card__body">
    <!-- LEFT: image + name + types -->
    <app-pokemon-main-info
      [pokemon]="pokemon"
    ></app-pokemon-main-info>
<div class="vertical-line"></div>
    <!-- RIGHT: description + stats -->
    <app-pokemon-stats-details
      [pokemon]="pokemon"
      [description]="description"
    ></app-pokemon-stats-details>
  </div>
</div>
