@import '../../../styles/src-colors';

$nav-bar-height: 67px;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-primary-blue;
  padding: 0 15%;
  height: $nav-bar-height;
}

.header__logo {
  display: flex;
  align-items: center;

  img {
    height: 48px;
    width: auto;
    display: block;
  }
}

nav {
  height: 67px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

nav a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 24px;
  gap: 10px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  color: $color-light;
  text-decoration: none;
}

nav a.marker {
  color: $color-primary-blue;
  background-color: $color-primary-green;
}


/* Mobile */
@media (max-width: 760px) {
 .header {
    background-color: white;
    justify-content: center;   
    padding-top: 50px; 
    padding-bottom: 60px;             
  }

  .header__logo {
    display: flex;
    justify-content: center;
    width: 100%;  

    img {
    height: 150px;
    width: 250px;
    width: auto;
    display: block;
  }
  }
}
