@import '../../../styles/src-colors';

$nav-bar-height: 67px;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-primary-blue;
  padding: 0 15%;
  height: $nav-bar-height;
}

.header__logo {
  display: flex;
  align-items: center;

  img {
    height: 48px;
    width: auto;
    display: block;
  }
}

nav {
  height: 67px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

nav a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 24px;
  gap: 10px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  color: $color-light;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

nav a.active {
  background-color: $color-primary-green; // make active bg green
  color: $color-primary-blue;
  font-weight: 500;
}

/* Mobile */
@media (max-width: 760px) {
  .header {
    background-color: white;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .header__logo {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      height: 130px;
      width: 250px;
      width: auto;
      display: block;
    }
  }

  nav a {
    display: none;
  }
}

.pokeball-badge {
  position: relative;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}

.pokeball-count {
  position: absolute;
  font-size: 10px;
  font-weight: 700;
  color: #222;
  z-index: 3;
  transform: translateY(1px);
}
.nav-favorites {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.pokeball-badge {
  position: relative;
  width: 35px;
  height: 35px;
  margin-left: 4px;
  border-radius: 50%;
  border: 2px solid #111;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #ff1c1c 0 50%, #ffffff 50% 100%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* הפס השחור באמצע */
.pokeball-badge::before {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  height: 2px;
  background: #111;
  transform: translateY(-50%);
}

/* הכפתור במרכז */
.pokeball-badge::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #111;
}

/* המספר בתוך הפוקדור */
.pokeball-badge__count {
  position: relative;
  z-index: 1;
  font-size: 10px;
  font-weight: 700;
  color: #111;
}
