<div class="ring">
  <div class="floor"></div>

  <div class="fighter fighter--left">
    <img class="poke" [src]="playerArtwork" [alt]="playerName" draggable="false" />
    <div class="shadow"></div>
    <div class="tag">Player</div>
  </div>

  <div class="vs">
    <div class="burst"></div>
    <div class="text">VS</div>
  </div>

  <div class="fighter fighter--right">
    <img class="poke" [src]="opponentArtwork" alt="Opponent" draggable="false" />
    <div class="shadow"></div>
    <div class="tag tag--alt">Opponent</div>
  </div>

  <div class="fx fx--left"></div>
  <div class="fx fx--right"></div>
</div>
