$color-primary-blue: #020160;
$color-primary-green: #94d97e;

$color-text: #373299;
$color-light: #f7f7f9;
$color-grey: #7c7c7c;

$color-card-bg: #ffffff;
$color-background: #f5f5f5;
$color-border: #e6e6e6;
$color-shadow: rgba(0, 0, 0, 0.1);

$color-button-blue: #373299;
$color-button-blue-hover: #3448aa;

$color-type-grass: #7acb69;
$color-type-poison: #b475d4;
$color-type-fire: #ff9c54;
$color-type-water: #4d90d5;
$color-type-bug: #92bc2c;

$color-error: #e63946;
$color-success: #4caf50;
