
/* BRAND COLORS */
$color-primary-blue: #020160;
$color-primary-green: #94D97E;

/* TEXT */
$color-text-dark: #1f1f1f;
$color-light: #F7F7F9;
$color-grey: #7c7c7c;

/* CARDS & BACKGROUNDS */
$color-card-bg: #ffffff;
$color-background: #f5f5f5;
$color-border: #e6e6e6;
$color-shadow: rgba(0, 0, 0, 0.1);

/* BUTTONS */
$color-button-blue: #373299;
$color-button-blue-hover: #3448aa;

/* TYPES */
$color-type-grass: #7acb69;
$color-type-poison: #b475d4;
$color-type-fire: #ff9c54;
$color-type-water: #4d90d5;
$color-type-bug: #92bc2c;

/* OTHER */
$color-error: #e63946;
$color-success: #4caf50;