@import '../../../styles/src-colors';

<<<<<<< HEAD
.home__pagination {
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  gap: 16px;

  button {
    padding: 8px 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: $color-text;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
    color: white;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background: #f3f3f3;
    }
  }

  span {
    font-size: 15px;
    font-weight: 500;
    color: #444;
    padding: 10px;
  }
}

=======
>>>>>>> 32dfd5ab10431e0fc12564017973f9084d421567
.pokemon-grid {
  margin: 3% 15%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
     margin: 3% 5%;
     gap: 1.5rem;
  }
}
