@import '../../../styles/src-colors';

$search-bar-height: 36px;
$search-bar-border-radius: 9px;

:host {
  width: 100%;
  height: $search-bar-height;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

input {
  width: 35%;
  height: 36px;
  padding: 0 1rem;
  background-color: $color-light;
  border-radius: $search-bar-border-radius;
  border: 1px solid rgba(2, 1, 102, 0.5);
  font-size: 16px;
}

.search-btn {
  background-color: $color-button-blue;
  color: $color-light;
  height: 36px;
  border-radius: $search-bar-border-radius ;
  border: 0;
  margin-left: 6px;
  padding: 0 1rem;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0;
}

/* filter button svg */
.filter-btn {
  width: 40px;
  height: 37px;
  border-radius: 12px;
  background-color: $color-primary-green;
  border: none;
  cursor: pointer;
  padding: 4px 8px ;
  margin-left: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-btn img {
  width: 24px;
  height: 23px;
}
