:host {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  display: flex;
  align-items: center; /* vertical centering */
  justify-content: center; /* horizontal centering */
  background: rgba(255, 255, 255, 0.4); /* transparent white overlay */
  z-index: 1000; /* on top of the app */
  direction: rtl;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

/* card */
.filter-card {
  width: 640px;
  max-width: 100%;
  height: 470px;
  background: #fafafa;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  box-sizing: border-box;
}
.all-filters {
  padding: 18px 24px 0;
}

.all-buttons {
  padding: 0px 24px 0;
}

/* rest of your CSS stays the same */
.filter-card__header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.filter-card__title {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto';
  font-style: bold;
  color: #222;
}

.filter-card__row {
  margin-bottom: 12px;
}

.filter-card__row--two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  color: #555;
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
}

.field input,
.field select {
  height: 36px;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  background: #ffffff;
  box-sizing: border-box;
  outline: none;
}

.field input::placeholder,
.field select {
  color: #b0b0b0;
}

.field select {
  padding-right: 8px;
}

.field__control--invalid {
  border-color: #e53935 !important;
}

.field__error {
  margin-top: 4px;
  font-size: 11px;
  color: #e53935;
}

.filter-card__actions {
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
  gap: 10px;

}

.line {
  margin-top: 24%;
  color: #e0e0e0;
  size: 2px;
}

.btn {
  min-width: 140px;
  height: 38px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  font-family: 'Roboto';
  font-weight: 400;
}

.btn--primary {
  background: #000f6b;
  color: #ffffff;
}

.btn--ghost {
  background: #ffffff;
  color: #000f6b;
  border: 1px solid #000f6b;
}
